<h4 class="card-title mt-3">Task Statistics</h4>
<div class="card mt-3">
    <div class="rounded flex-fill icon-bg shadow">
        <div class="card-body">
            <div class="statistics">
                <div class="row">
                    <div class="col-md-6 col-6 text-center">
                        <div class="stats-box mb-4 bg-body-secondary">
                            <p>Total Tasks</p>
                            <h3>385</h3>
                        </div>
                    </div>
                    <div class="col-md-6 col-6 text-center">
                        <div class="stats-box mb-4 bg-body-secondary">
                            <p class="">Overdue Tasks</p>
                            <h3 class="">19</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-white">
                <p>
                    <i class="fa-regular fa-circle-dot text-purple me-2"></i>Completed
                    Tasks <span class="float-end">166</span>
                </p>
                <p>
                    <i class="fa-regular fa-circle-dot text-warning me-2"></i>Inprogress
                    Tasks <span class="float-end">115</span>
                </p>
                <p>
                    <i class="fa-regular fa-circle-dot text-success me-2"></i>On Hold
                    Tasks <span class="float-end">31</span>
                </p>
                <p>
                    <i class="fa-regular fa-circle-dot text-danger me-2"></i>Pending Tasks
                    <span class="float-end">47</span>
                </p>
                <p class="mb-0">
                    <i class="fa-regular fa-circle-dot text-info me-2"></i>Review Tasks
                    <span class="float-end">5</span>
                </p>
            </div>
        </div>
    </div>
</div>