.app-footer {
    background-color: #00246B;
    color: white;
    text-align: center;
    padding: 1rem;
    /* position: absolute; */
    margin-bottom: 0;
    bottom: 0 !important;
    width: 100%;
   
  }
  
