.container {
    max-width: 800px;
    margin: 0 auto;
    color: black;
    
  }
  
  .overview-section {
    background: linear-gradient(45deg, #256fc4, #5dd6e6a5);
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    margin-bottom: 1rem;
  }
  .title{
    color: #00246b;
}
  