<h4 class="card-title mt-5">Payments</h4>
<div
  class="table-responsive card p-3 mt-3"
  style="max-height: 367px; overflow-y: auto;"
>
  <table class="table table-hover" style="--bs-table-hover-color: #0e30f6;--bs-table-hover-bg: #ffffff;">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Invoice ID</th>
        <th scope="col">Client</th>
        <th scope="col">Payment Date</th>
        <th scope="col">Paid Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Invoice 1</td>
        <td>Client 1</td>
        <td>01/01/2000</td>
        <td>$100.00</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Invoice 2</td>
        <td>Client 2</td>
        <td>01/01/2000</td>
        <td>$200.00</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Invoice 3</td>
        <td>Client 3</td>
        <td>01/01/2000</td>
        <td>$300.00</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Invoice 3</td>
        <td>Client</td>
        <td>01/01/2000</td>
        <td>$300.00</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Invoice 3</td>
        <td>Client</td>
        <td>01/01/2000</td>
        <td>$300.00</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Invoice 3</td>
        <td>Client</td>
        <td>01/01/2000</td>
        <td>$300.00</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Invoice 3</td>
        <td>Client</td>
        <td>01/01/2000</td>
        <td>$300.00</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Invoice 3</td>
        <td>Client</td>
        <td>01/01/2000</td>
        <td>$300.00</td>
      </tr>
    </tbody>
  </table>
</div>
