<h4 class="card-title mt-5">Payments</h4>
<div
  class="table-responsive card p-3 mt-3"
  style="max-height: 367px; overflow-y: auto;"
>
  <table class="table table-hover" style="--bs-table-hover-color: #0e30f6;--bs-table-hover-bg: #ffffff;">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Invoice ID</th>
        <th scope="col">Client</th>
        <th scope="col">Payment Date</th>
        <th scope="col">Paid Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let payment of payments; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>Invoice {{ payment.invoiceId }}</td>
        <td>{{ payment.clientName }}</td>
        <td>{{ payment.paymentDate | date: 'MM/dd/yyyy' }}</td> <!-- Adjust date format if needed -->
        <td>${{ payment.paidAmount | number: '1.0-0' }}</td> <!-- Format number if needed -->
      </tr>
    </tbody>
  </table>
</div>
