<div class="table-responsive card p-3 rounded" style="max-height: 367px; overflow-y: auto">
  <h5 class="card-title">Clients</h5>
  <table class="table table-bg rounded table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Client Name</th>
        <th scope="col">Project</th>
        <th scope="col">Phone</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Client 1</td>
        <td>project 1</td>
        <td>(123) 456-7890</td>
        <td>client1example.com</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Client 2</td>
        <td>project 2</td>
        <td>(123) 456-7890</td>
        <td>client2example.com</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Client 3</td>
        <td>project 3</td>
        <td>(123) 456-7890</td>
        <td>client3example.com</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Client 4</td>
        <td>project 4</td>
        <td>(123) 456-7890</td>
        <td>client1example.com</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>Client 5</td>
        <td>project 5</td>
        <td>(123) 456-7890</td>
        <td>client2example.com</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>Client 6</td>
        <td>project 6</td>
        <td>(123) 456-7890</td>
        <td>client3example.com</td>
      </tr>
      <tr>
        <th scope="row">7</th>
        <td>Client 7</td>
        <td>project 7</td>
        <td>(123) 456-7890</td>
        <td>client3example.com</td>
      </tr>
      <tr>
        <th scope="row">8</th>
        <td>Client 8</td>
        <td>project 8</td>
        <td>(123) 456-7890</td>
        <td>client3example.com</td>
      </tr>
      <tr>
        <th scope="row">9</th>
        <td>Client 9</td>
        <td>project 9</td>
        <td>(123) 456-7890</td>
        <td>client3example.com</td>
      </tr>
    </tbody>
  </table>
</div>