<div class="dashboard-container">
    <h1>HRM Dashboard</h1>
    
    <div class="stats">
      <div class="stat-box">
        <h2>Total Employees</h2>
        <p>{{ employeeCount }}</p>
      </div>
      <div class="stat-box">
        <h2>Total Departments</h2>
        <p>{{ departmentCount }}</p>
      </div>
      
    </div>
  
    <div class="recent-activities">
      <h2>Recent Activities</h2>
      <ul>
        <li *ngFor="let activity of recentActivities">{{ activity }}</li>
      </ul>
    </div>
     
   
        
      
      <div class="detail-boxes">
        <div class="stat-box">
          <h2>Total Employees</h2>
          <p>{{ employeeCount }}</p>
        </div>
        <div class="stat-box">
          <h2>Total Departments</h2>
          <p>{{ departmentCount }}</p>
        </div>
        <div class="stat-box">
            <h2>Total Employees</h2>
            <p>{{ employeeCount }}</p>
          </div>
          <div class="stat-box">
            <h2>Total Departments</h2>
            <p>{{ departmentCount }}</p>
          </div>
      </div>

      <div class="detail-boxes">
        <div class="stat-box db1">
          <h2>Total Employees</h2>
          <p>{{ employeeCount }}</p>
        </div>
        <div class="stat-box db2">
          <h2>Total Departments</h2>
          <p>{{ departmentCount }}</p>
        </div>
        <div class="stat-box db3">
            <h2>Total Employees</h2>
            <p>{{ employeeCount }}</p>
          </div>
         
      </div>
        
  </div>
  <!---->