.icon-bg {
  background: linear-gradient(45deg, #94b7e8,#144ea3 );
}

.order-card {
  color: #fff;
}

.card {
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16) !important;
  box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16) !important;
  border: none;
  margin-bottom: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}
.order-card i {
  font-size: 26px;
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}
.h-70 {
  height: 70%;
}
h3,
h6 {
  color: black;
}
