.icon-bg {
    background: linear-gradient(45deg,#4099ff,#4fbac9a5);
  }
  
  .order-card {
    color: #fff;
  }
  
  .card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16) !important;
    box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16) !important;
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .card:hover{
    scale: 1.03;
    background: linear-gradient(45deg,#256fc4,#5dd6e6a5);
  }
  .card .card-block {
    padding: 30px;
  }
  
  .order-card i {
    font-size: 26px;
  }
  
  .f-left {
    float: left;
  }
  
  .f-right {
    float: right;
  }
  .h-70 {
    height: 70%;
  }
  